<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<nav  th:replace="~{frag :: nav(title = 'Home')}"></nav>
	<main>
		<div class="container mt-3 mb-3">			
			<div sec:authorize="hasRole('USER')">
				<h2 th:if="${newChannels.isEmpty()}">No Currently Streaming Channels.</h2>	
				<h2 th:unless="${prefChannels.isEmpty()}">Recommended Channels</h2>
				
				<div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
					
					<div class="col" th:each="channel : ${prefChannels}">
						<div class="card">
							<img th:src="${channel.getSport().getImagePath()}" alt="sportImage"/>
							<div class="card-body">
								<h5 class="card-title mb-1" th:text="${channel.getName()}"></h5>
								<p class="text-secondary mb-1" th:text="${channel.getDescription()}"></p>
								<a th:href="|/channel/${channel.getId()}|" class="btn btn-primary">Watch</a>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			<div class="mt-4">
				<h2 th:unless="${newChannels.isEmpty()}">Latest Channels</h2>
				<div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
					<div class="col" th:each="channel : ${newChannels}">
						<div class="card">
							<img th:src="${channel.getSport().getImagePath()}" alt="sportImage"/>
							<div class="card-body">
								<h5 class="card-title" th:text="${channel.getName()}"></h5>
								<p class="text-secondary mb-1" th:text="${channel.getDescription()}"></p>
								<a th:href="|/channel/${channel.getId()}|" class="btn btn-primary">Watch</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="mt-4">
				<h2 th:unless="${trendingChannels.isEmpty()}">Trending Channels</h2>
				<div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
					<div class="col" th:each="channel : ${trendingChannels}">
						<div class="card">
							<img th:src="${channel.getSport().getImagePath()}" alt="sportImage"/>
							<div class="card-body">
								<h5 class="card-title" th:text="${channel.getName()}"></h5>
								<p class="text-secondary mb-1" th:text="${channel.getDescription()}"></p>
								<a th:href="|/channel/${channel.getId()}|" class="btn btn-primary">Watch</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="text-center mt-3 mb-3" style="background-color: #dee2e6">
				<a th:unless="${newChannels.isEmpty()}" th:href="@{/channels}">Explore All Channels.</a>
			</div>
		</div>
	</main>


</body>
</html>