<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Login</title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/resources/css/login.css}" rel="stylesheet">
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/login.js}" defer="defer"></script>
</head>
<body>

	<div class="row d-flex justify-content-center m-0 mt-5">
		
		<div class="col-lg-6 col-md-9">
			
			<h1 class="mb-3">Logo</h1>
			<div class="" id="userLogin">
				<div class="mb-4">
					<h3>Login</h3>
					<h5 class="text-secondary">Continue to FunOlympic.</h5>
				</div>
				
				<div class="alert alert-danger" th:if="${param.error != null}">
					Email or Password is incorrect.
				</div>
				
				<form th:action="@{/auth/authenticate}" method="post" class="w-100 needs-validation" id="userLogin" novalidate>
					<div class="mb-3 form-group">
						<label for="username" class="form-label">Email</label>
						<input type="email" name="username" class="form-control rounded-0" required />
						<div class="invalid-feedback">
			      			Please enter valid email!
			      		</div>
					</div>
					
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" name="password" required="required" class="form-control rounded-0" />
						<p class="invalid-feedback">Please Enter Password.</p>
					</div>
					
					<div class="mb-3">
						<button type="submit" class="btn btn-outline-primary w-100 rounded-0">Login</button>
					</div>
				</form>
				<a th:href="@{/auth/register}" class="nav-link text-primary register">Register.</a>
				<br />
				<p class="text-primary" id="adminTag">Admin Login</p>
			</div>
			
			<div class="d-none" id="adminLogin">
				
				<div class="mb-4">
					<h3>Admin Login</h3>
					<h5 class="text-secondary">Continue to FunOlympic.</h5>
				</div>
			
				<form th:action="@{/auth/authenticate}" method="post" class="w-100" novalidate>
					<div class="mb-3">
						<label for="username" class="form-label">Username</label>
						<input type="text" name="username" placeholder="Enter Admin Username" required="required" pattern="^(?:(?!\.com$).)*$" class="form-control rounded-0" />
						<p class="invalid-feedback">Please Enter Valid Username and it should not end with .com</p>
					</div>
					
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" name="password" placeholder="Enter Password" required="required" class="form-control rounded-0" />
						<p class="invalid-feedback">Please Enter Password.</p>
					</div>
					
					<div class="mb-3">
						<button type="submit" class="btn btn-outline-primary w-100 rounded-0">Login</button>
					</div>
				</form>
				<p class="text-primary" id="userTag">User Login</p>
			</div>
		</div>
			
		
	</div>

	<script type="text/javascript">
	
	(() => {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  const forms = document.querySelectorAll('.needs-validation')

		  // Loop over them and prevent submission
		  Array.from(forms).forEach(form => {
		    form.addEventListener('submit', event => {
		      if (!form.checkValidity()) {
		        event.preventDefault()
		        event.stopPropagation()
		      }

		      form.classList.add('was-validated')
		    }, false)
		  })
		})()
	
	</script>

</body>
</html>