<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Preferred Sports</title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<h3>Choose Your Preferred Sports</h3>
					<h4 class="fst-italic text-secondary">Verification will be sent after this.</h4>
				</div>
				
				<form th:action="@{|/auth/${id}/preferred-sports|}" method="post" th:object="${sportsForm}">
					<div class="row">
						<div class="col-3" th:each="sport : ${sportsList}">
							<div class="form-group">
								<input type="checkbox" th:field="*{sports}" th:text="${sport.getName()}" th:value="${sport.getId()}" />
							</div>
						</div>
					</div>
					
					<br />
					
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
					
				</form>
			</div>
		</div>
		
	</div>

</body>
</html>