<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

	<nav  th:replace="~{frag :: nav(title = 'Users')}"></nav>

	<main>
		<div class="container mt-3">
			
			<h2>Registered Users</h2>
			
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.getName()}"></td>
						<td th:text="${user.getEmail()}"></td>
						<td class="text-center"><a th:href="|/admin/user/${user.getId()}|"><i class="bi bi-info-circle" style="font-size: 1.1rem"></i></a></td>
					</tr>
				</tbody>
			</table>
			
			<hr />
			
			<h2>Users requested for Password Reset</h2>
			
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${resetUsers}" class="align-middle">
						<td th:text="${user.getName()}"></td>
						<td th:text="${user.getEmail()}"></td>
						<td class="text-center">
							<form th:action="|/admin/user/reset/${user.getId()}|" method="post">
								<input name="email" type="hidden" th:value="${user.getEmail()}" />
								<button type="submit" class="btn btn-primary">Reset Password</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

</body>
</html>